# A. Course Outline
    
    1. Diagnose dirty data
    2. Side effects of dirty data
    3. Clean data
    
Chapter 1 - Common Data Problems

    Data Type Constraints
        Strings
        Numeric data
        
    Data Range Constraints
        Out of range data
        Out of range dates
        
    Uniqueness 
        Finding duplicates
        Treating duplicates
        
Chapter 2 - Text and categorical data problems    

    Membership constraints
        Finding inconsistent categories
        Treating them with joins
        
    Categorical values
        Finding inconsistent categories
        Collapsing them into less
    
    Cleaning Text
        Unifying formats
        Finding lengths

Chapter 3 -Advanced ata problems

    Uniformity
        Unifying currency formats
        Unifying date formats
    
    Cross field validation
        Summing across rows
        Building assert functions
        
    Completeness
        Finding missing data
        Treating them

# 1. Common Data Problems 

Data Science workflow

    Access data -> Explore and Process Data -> Extract Insights -> Report Insights 
    
Why do we need to clean data?

    Dirty data can appear because of duplicate values, mis-spellings, data type parsing errors and legacy systems. 
    
    Without making sure that data is properly cleaned in the exploration and processing phase, we will surely compromise the insights and reports subsequently generated.
    
Data Type Constraints 

    We could be working with text data, integers, decimals, dates, zip codes, and others. Luckily, Python has specific data type objects for various data types that you're probably familiar with by now. This makes it much easier to manipulate these various data types in Python. As such, before preparing to analyze and extract insights from our data, we need to make sure our variables have the correct data types, other wise we risk compromising our analysis.
    
        Text: str
        Integers: int
        Decimals: float
        Binary: bool 
        Dates: datetime
        Categories: category 
    
Strings to integers

    sales.dtypes #Get data types of columns 
    sales.info() #Get dataframe information 
    sales["Revenue"].sum() - it is a string so it will just append. 
    
    Remove $ from revenue column
        sales["Revenue"].sales["Revenue"].str.strip("$")
        sales["Revenue"].sales["Revenue"].astype("int")
        
The assert statement

    verify that revenue is now an integer
    
        assert sales["Revenue"].dtype == 'int"
        
        Ex. assert 1 + 1 = 2 #true

Numeric or categorical?

#Convert to categorical data when needed

df["marriage_status"] = df["marriage_status"].astype("category")
df.describe()

### 1.1 Common Data Types

When working with new data, you should always check the data types of your columns using the .dtypes attribute or the .info() method which you'll see in the next exercise. Often times, you'll run into columns that should be converted to different data types before starting any analysis.

#### 1.1.1 Numeric data or?

In [2]:
'''

# Print the information of ride_sharing
print(ride_sharing.info())

# Print summary statistics of user_type column
print(ride_sharing['user_type'].describe())

# Convert user_type from integer to category
ride_sharing['user_type_cat'] = ride_sharing['user_type'].astype("category")

# Write an assert statement confirming the change
assert ride_sharing['user_type_cat'].dtype == "category"

# Print new summary statistics 
print(ride_sharing['user_type_cat'].describe())

'''

'\n\n# Print the information of ride_sharing\nprint(ride_sharing.info())\n\n# Print summary statistics of user_type column\nprint(ride_sharing[\'user_type\'].describe())\n\n# Convert user_type from integer to category\nride_sharing[\'user_type_cat\'] = ride_sharing[\'user_type\'].astype("category")\n\n# Write an assert statement confirming the change\nassert ride_sharing[\'user_type_cat\'].dtype == "category"\n\n# Print new summary statistics \nprint(ride_sharing[\'user_type_cat\'].describe())\n\n'

#### 1.1.2 Summing strings and concatenating numbers

In the previous exercise, you were able to identify that category is the correct data type for user_type and convert it in order to extract relevant statistical summaries that shed light on the distribution of user_type.

Another common data type problem is importing what should be numerical values as strings, as mathematical operations such as summing and multiplication lead to string concatenation, not numerical outputs.

In [ ]:
'''

# Strip duration of minutes
ride_sharing['duration_trim'] = ride_sharing['duration'].str.strip("minutes")

# Convert duration to integer
ride_sharing['duration_time'] = ride_sharing['duration_trim'].astype("int")

# Write an assert statement making sure of conversion
assert ride_sharing['duration_time'].dtype == 'int'

# Print formed columns and calculate average ride duration 
print(ride_sharing[['duration','duration_trim','duration_time']])
print(ride_sharing["duration_time"].mean())

'''

## 1.2  Data range contraints

Motivation 1

 Imagine we have a dataset of movies with their respective average rating from a streaming service. The rating can be any integer between 1 an 5.
 
 After creating a histogram with maptlotlib, we see that there are a few movies with an average rating of 6, which is well above the allowable range. This is most likely an error in data collection or parsing, where a variable is well beyond its range and treating it is essential to have accurate analysis.
 
    import matplotlib.pyplot as plt
    plt.hist(movies['avg_rating"])
    
Motivation 2: Can future sign ups exist? 

    import datetime as dt
    today_date = dt.date.today()
    user_signups[user_signups["subscription_date"] > today_date]
    
    
How to deal with out of range data?

    1. DROP DATA - The simplest option is to drop the data. However, depending on the size of your out of range data, you could be losing out on essential information. As a rule of thumb, only DROP DATA when a small proportion of your dataset is affected by out of range values, however you really need to understand your dataset before deciding to drop values.
    
        import pandas as pd
    
        #Output movies with rating > 5 
            movies[movies["avg_rating"] > 5]
        
        #Drop values using filtering
            movies = movies[movies["avg_rating"] <=5]
    
        #Drop values using drop
    
            movies.drop(movies[movies["avg_rating"] > 5].index, inplace = True)
         
        #Assert results
    
            assert movies["avg_ratinng"].max() <=5
    
    2. Set custom minimums or maximums to your columns
    
        Convert avg_ratying > 5 to 5 
        
            movies.loc[movies["avg_rating"] > 5, "avg_rating"] = 5
            assert movies["avg_ratinng"].max() <=5
            
    3. Set the data to missing, and impute it
    4. We could also, dependent on the business assumptions behind our data, assign a custom value for any values of our data that go beyond a certain range.
    
    
Date range example


import datetime as dt
import pandas as pd

#Output data types

    user_signups.dtypes

#Convert to date
    user_signups["subscription_date"] = pd.to_datetime(user_signups["subscription_date"]).dt.date
    
#today date

    today_date = dt.date.today()
    
#Drop using filtering
    
    user_signups =  user_signups[user_signups["subscription_date"] < today_date]
    
#Drop using .drop

    user_signups.drop(user_signups[user_signups["subscription_date"] > today_date].index, inplace = True)
        
#Hardcode dates with upper limit
    
    user_signups.loc(user_signups[user_signups["subscription_date"] > today_date, "subscription_date"] = today_date

#Assert 

    assert user_signups.subscription_date.max().date() <= today_date

#### 1.2.1 Tire size constraints

Bicycle tire sizes could be either 26″, 27″ or 29″ and are here correctly stored as a categorical value. In an effort to cut maintenance costs, the ride sharing provider decided to set the maximum tire size to be 27″.

In [12]:
#Import needed datasets

import pandas as pd
ride_sharing = pd.read_csv("E:/Upskilling/DataCamp/Data Scientist (Python)/20_Cleaning Data in Python/Datasets/ride_sharing_new.csv")

ride_sharing.head()

,Unnamed: 0,duration,station_A_id,station_A_name,station_B_id,station_B_name,bike_id,user_type,user_birth_year,user_gender
0,0,12 minutes,81,Berry St at 4th St,323,Broadway at Kearny,5480,2,1959,Male
1,1,24 minutes,3,Powell St BART Station (Market St at 4th St),118,Eureka Valley Recreation Center,5193,2,1965,Male
2,2,8 minutes,67,San Francisco Caltrain Station 2 (Townsend St...,23,The Embarcadero at Steuart St,3652,3,1993,Male
3,3,4 minutes,16,Steuart St at Market St,28,The Embarcadero at Bryant St,1883,1,1979,Male
4,4,11 minutes,22,Howard St at Beale St,350,8th St at Brannan St,4626,2,1994,Male

In [13]:
'''

# Convert tire_sizes to integer
ride_sharing['tire_sizes'] = ride_sharing['tire_sizes'].astype('int')

# Set all values above 27 to 27
ride_sharing.loc[ride_sharing['tire_sizes'] > 27, 'tire_sizes'] = 27

# Reconvert tire_sizes back to categorical
ride_sharing['tire_sizes'] = ride_sharing['tire_sizes'].astype('category')

# Print tire size description
print(ride_sharing['tire_sizes'].describe())

'''

"\n\n# Convert tire_sizes to integer\nride_sharing['tire_sizes'] = ride_sharing['tire_sizes'].astype('int')\n\n# Set all values above 27 to 27\nride_sharing.loc[ride_sharing['tire_sizes'] > 27, 'tire_sizes'] = 27\n\n# Reconvert tire_sizes back to categorical\nride_sharing['tire_sizes'] = ride_sharing['tire_sizes'].astype('category')\n\n# Print tire size description\nprint(ride_sharing['tire_sizes'].describe())\n\n"

#### 1.2.2 Back to the future

DataFrame has been updated to register each ride's date. This information is stored in the ride_date column of the type object, which represents strings in pandas.

A bug was discovered which was relaying rides taken today as taken next year. To fix this, you will find all instances of the ride_date column that occur anytime in the future, and set the maximum possible value of this column to today's date. Before doing so, you would need to convert ride_date to a datetime object.

In [14]:
'''

# Convert ride_date to date
ride_sharing['ride_dt'] = pd.to_datetime(ride_sharing['ride_date']).dt.date

# Save today's date
today = dt.date.today()

# Set all in the future to today's date
ride_sharing.loc[ride_sharing['ride_dt'] > today, 'ride_dt'] = today

# Print maximum of ride_dt column
print(ride_sharing['ride_dt'].max())

'''

"\n\n# Convert ride_date to date\nride_sharing['ride_dt'] = pd.to_datetime(ride_sharing['ride_date']).dt.date\n\n# Save today's date\ntoday = dt.date.today()\n\n# Set all in the future to today's date\nride_sharing.loc[ride_sharing['ride_dt'] > today, 'ride_dt'] = today\n\n# Print maximum of ride_dt column\nprint(ride_sharing['ride_dt'].max())\n\n"

## 1.3 UNIQUENESS CONSTRAINTS 

What are duplicate values?

Duplicate values can be diagnosed when we have the same exact information repeated across multiple rows, for a some or all columns in our DataFrame. In this example DataFrame containing the names, address, height, and weight of individuals, the rows presented have identical values across all columns.

Why do they happen?

    1. data entry and human errors
    2. bugs and design errors
    3. Join or merge data from various resources, which could retain duplicate values.

How to find duplicate values?

    #Get duplicates across all columns 
    
        duplicates = height_weight.duplicated()
        print(duplicates) #False True 
    
    using the default .duplicated() without tweaking some of the arguments returns only the non-first complete duplicates across all columns.
    
     #Get duplicates rows
     
         duplicates = height_weight.duplicated()
         height_weight[duplicates]
     
1. .duplicated() method

    subset: list of column names to check for duplication 
    keep: whether to keep first ("first"), last ("last"), or all (False) duplicate values 
    
Example: 

   #create a list of column names to check for duplication
   
       column_names = ["first-name", "last_name", "address"]
       
       duplicates = height_weight.duplicated(subset = column_names, keep = False) 
   
       height_weight[duplicates[.sort_values(by = "first_name")
   
   
2. .drop_duplicates() method 

    subset: list of column names to check for duplication 
    keep: whether to keep first ("first"), last ("last"), or all (False) duplicate values 
    inplace: Drop duplicated rows directly inside DataFrame without creating new object (True)
    
    
    inplace argument which drops the duplicated values directly inside the height_weight DataFrame. Here we are dropping complete duplicates only, so it's not necessary nor advisable to set a subset, and since the keep argument takes in first as default, we can keep it as such. Note that we can also set it as last, but not as False as it would keep all duplicates.
    
    
3. The .groupby() and .agg() methods

    #Group by column names and produce statistical summaries 

       column_names = ["first-name", "last_name", "address"]
   
       summaries = {'height': 'max', 'weight': 'mean'}
       
       height_weight =  height_weight.groupby(by = column_names).agg(summaries).reset-index()

    #Make sure aggregation is done

        duplicates = height_weight.duplicated(subset = column_names, keep = False) 
        
        height_weight[duplicates].sort_values(by = "first_name")

In [15]:
'''
# Find duplicates
duplicates = ride_sharing.duplicated("ride_id", keep = False)

# Sort your duplicated rides
duplicated_rides = ride_sharing[duplicates].sort_values('ride_id')

# Print relevant columns of duplicated_rides
print(duplicated_rides[['ride_id','duration','user_birth_year']])
'''

'\n# Find duplicates\nduplicates = ride_sharing.duplicated("ride_id", keep = False)\n\n# Sort your duplicated rides\nduplicated_rides = ride_sharing[duplicates].sort_values(\'ride_id\')\n\n# Print relevant columns of duplicated_rides\nprint(duplicated_rides[[\'ride_id\',\'duration\',\'user_birth_year\']])\n'

Notice that rides 33 and 89 are incomplete duplicates, whereas the remaining are complete.

In [16]:
'''

# Drop complete duplicates from ride_sharing
ride_dup = ride_sharing.drop_duplicates()

# Create statistics dictionary for aggregation function
statistics = {'user_birth_year': 'min', 'duration': 'mean'}

# Group by ride_id and compute new statistics
ride_unique = ride_dup.groupby(by = 'ride_id').agg(statistics).reset_index()

# Find duplicated values again
duplicates = ride_unique.duplicated(subset = 'ride_id', keep = False)
duplicated_rides = ride_unique[duplicates == True]

# Assert duplicates are processed
assert duplicated_rides.shape[0] == 0

'''

"\n\n# Drop complete duplicates from ride_sharing\nride_dup = ride_sharing.drop_duplicates()\n\n# Create statistics dictionary for aggregation function\nstatistics = {'user_birth_year': 'min', 'duration': 'mean'}\n\n# Group by ride_id and compute new statistics\nride_unique = ride_dup.groupby(by = 'ride_id').agg(statistics).reset_index()\n\n# Find duplicated values again\nduplicates = ride_unique.duplicated(subset = 'ride_id', keep = False)\nduplicated_rides = ride_unique[duplicates == True]\n\n# Assert duplicates are processed\nassert duplicated_rides.shape[0] == 0\n\n"

# 2. Text and categorical data problems

### 2.1 Categories and membership constraints

Categories and membership constraints
 
    Categorical data represent variables that represent predefined finite set of categories. Examples of this range from marriage status, household income categories, loan status and others. To run machine learning models on categorical data, they are often coded as numbers. Since categorical data represent a predefined set of categories, they can't have values that go beyond these predefined categories.

Why could we have these problems?
    
    inconsistencies in our categorical data for a variety of reasons. This could be due to data entry issues with free text vs dropdown fields, data parsing errors and other types of errors, 
    
How do we treat these problems?

    1. Drop the rows with incorrect categories. 
    2. Remapping incorrect categories to correct ones
    3, Inferring categories 

An example

    #Read study data and print it
    
        study_data = pd.read_csv("study.csv")
        study_data 
        
    #Correct possible error
        categories - list of blood data type categories 

A note on joins

    1. Anti join - What is in A and not in B
    2. Inner join - Both in A and B 

A left anti join on blood types - return only rows containing Z+ 

    left table - study data only (Z+)
    right table - categories (all correct blood type) 

A inner join on blood types - Both present in study and category 

Example

    Finding categories 
    
        inconsistent_categories = set(study_data["blood_type"]).difference(categories["blood_type"])
        
        We first get all inconsistent categories in the blood_type column of the study_data DataFrame. We do that by creating a set out of the blood_type column which stores its unique values, and use the difference method which takes in as argument the blood_type column from the categories DataFrame. This returns all the categories in blood_type that are not in categories. 
        
        We then find the inconsistent rows by finding all the rows of the blood_type columns that are equal to inconsistent categories by using the isin method, this returns a series of boolean values that are True for inconsistent rows and False for consistent ones. 
        
        #Get and print rows with inconsistent categories 
        
        inconsistent_rows = study_data["blood_type"].isin(inconsistent_categories)
        study_data[inconsistent_rows] 
        
        
        We then subset the study_data DataFrame based on these boolean values, and voila we have our inconsistent data.
        
        consistent_data = study_data[~inconsistent_rows]

### 2.1.1 Finding consistency

In this exercise and throughout this chapter, you'll be working with the airlines DataFrame which contains survey responses on the San Francisco Airport from airline customers.

The DataFrame contains flight metadata such as the airline, the destination, waiting times as well as answers to key questions regarding cleanliness, safety, and satisfaction. Another DataFrame named categories was created, containing all correct possible values for the survey columns.

#### Print Unique Values

In [20]:
'''

# Print categories DataFrame
print(categories)

# Print unique values of survey columns in airlines
print('Cleanliness: ', airlines['cleanliness'].unique(), "\n")
print('Safety: ', airlines['safety'].unique(), "\n")
print('Satisfaction: ', airlines['satisfaction'].unique(), "\n")

'''

'\n\n# Print categories DataFrame\nprint(categories)\n\n# Print unique values of survey columns in airlines\nprint(\'Cleanliness: \', airlines[\'cleanliness\'].unique(), "\n")\nprint(\'Safety: \', airlines[\'safety\'].unique(), "\n")\nprint(\'Satisfaction: \', airlines[\'satisfaction\'].unique(), "\n")\n\n'

#### Find inconsistency

In [18]:
'''

# Find the cleanliness category in airlines not in categories
cat_clean = set(airlines['cleanliness']).difference(categories['cleanliness'])

# Find rows with that category
cat_clean_rows = airlines['cleanliness'].isin(cat_clean)

# Print rows with inconsistent category
print(airlines[cat_clean_rows])

# Print rows with consistent categories only
print(airlines[~cat_clean_rows])

'''

"\n\n# Find the cleanliness category in airlines not in categories\ncat_clean = set(airlines['cleanliness']).difference(categories['cleanliness'])\n\n# Find rows with that category\ncat_clean_rows = airlines['cleanliness'].isin(cat_clean)\n\n# Print rows with inconsistent category\nprint(airlines[cat_clean_rows])\n\n# Print rows with consistent categories only\nprint(airlines[~cat_clean_rows])\n\n"

### 2.2 Categorial Variables

What type of errors could we have?

    When cleaning categorical data, some of the problems we may encounter include value inconsistency, the presence of too many categories that could be collapsed into one, and making sure data is of the right type.
    
    1. Value consistency
        
        Inconsistent fields: married, Maried, UNMARRIED, not married
        Trailing white space: _married, ' married'
        
    2. Collapsing too many categories to few
    
        Creating new groups: 0-20k, 20-40k categories
        Mapping groups to new ones: Mapping household income categories to 2, rich or poor
        
    
Capitalization: married, Maried, UNMARRIED, not married

    A common categorical data problem is having values that slightly differ because of capitalization. Not treating this could lead to misleading results when we decide to analyze our data, for example, let's assume we're working with a demographics dataset, and we have a marriage status column with inconsistent capitalization.
    
    marriage_status = demographivs["marital_status"]
    marriage_status.value_counts() #series only
    
    #Get value counts on dataframe
    
        marriage_status.groupby("marriage_status"].count()   
    
    To deal with this, we can either capitalize or lowercase the marriage_status column. This can be done with the str-dot-upper() or dot-lower() functions respectively.
    
    
    marriage_status["marriage_status"] =  marriage_status["marriage_status"].str.upper()
    marriage_status["marriage_status"].value_counts()
    
Trailing Spaces 
    
    
    Another common problem with categorical values are leading or trailing spaces. For example, imagine the same demographics DataFrame containing values with leading spaces. Here's what the counts of married vs unmarried people would look like. Note that there is a married category with a trailing space on the right, which makes it hard to spot on the output, as opposed to unmarried.
    
    
    #Strip all spaces 
    
          marriage_status["marriage_status"] =  marriage_status["marriage_status"].str.strip()
          marriage_status["marriage_status"].value_counts()
    

Collapsing data into categories

    1. Create categories of data: income group column from income column
    
        # Using qcut():

            import pandas as pd
            group_names = ["0-200k", '200k-500k', '500k]
            demographics['income_group] = pd.qcut(demographics['household_income'], q = 3, labels =   group_names]

        # print income_group column 

            demographics[["inciome_group", "household_income"]]


        #using cut - create category ranges and names 

            ranges = [0,200000, 500000, np.inf] 
            group_names = ["0-200k", '200k-500k', '500k]

            demographics['income_group] = pd.cut(demographics['household_income'], bins = ranges, labels =   group_names]

            demographics[["inciome_group", "household_income"]]        



    2. Map categories to fewer ones: 
        
        operating system column is: Microsoft, MacOS, IOS, Android, Linux
        Convert to: DesktopOS, MobileOS
        
        mapping = {'Microsoft': 'DesktopOS', 'MacOS': 'DesktopOS', 'Linux': 'DesktopOS', 
                    'IOS': 'MobileOS', 'Android': 'MobileOS'}
                    
        devices['operating_system'] = devices["operating_system"].replace(mapping)
        devices['operating_system'].unique()

#### 2.2.1 Inconsistent categories

As a reminder, the DataFrame contains flight metadata such as the airline, the destination, waiting times as well as answers to key questions regarding cleanliness, safety, and satisfaction on the San Francisco Airport.

In [21]:
'''

# Print unique values of both columns
print(airlines['dest_region'].unique())
print(airlines['dest_size'].unique())

# Lower dest_region column and then replace "eur" with "europe"
airlines['dest_region'] = airlines['dest_region'].str.lower() 
airlines['dest_region'] = airlines['dest_region'].replace({'eur':'europe'})

# Remove white spaces from `dest_size`
airlines['dest_size'] = airlines['dest_size'].str.strip()

# Verify changes have been effected
print(airlines["dest_region"].unique())
print(airlines["dest_region"].unique())

'''

'\n\n# Print unique values of both columns\nprint(airlines[\'dest_region\'].unique())\nprint(airlines[\'dest_size\'].unique())\n\n# Lower dest_region column and then replace "eur" with "europe"\nairlines[\'dest_region\'] = airlines[\'dest_region\'].str.lower() \nairlines[\'dest_region\'] = airlines[\'dest_region\'].replace({\'eur\':\'europe\'})\n\n# Remove white spaces from `dest_size`\nairlines[\'dest_size\'] = airlines[\'dest_size\'].str.strip()\n\n# Verify changes have been effected\nprint(airlines["dest_region"].unique())\nprint(airlines["dest_region"].unique())\n\n'

#### 2.2.2 Remapping categories

To better understand survey respondents from airlines, you want to find out if there is a relationship between certain responses and the day of the week and wait time at the gate.

The airlines DataFrame contains the day and wait_min columns, which are categorical and numerical respectively. The day column contains the exact day a flight took place, and wait_min contains the amount of minutes it took travelers to wait at the gate. To make your analysis easier, you want to create two new categorical variables:

In [22]:
'''

# Create ranges for categories
label_ranges = [0, 60, 180, np.inf]
label_names = ['short', 'medium', 'long']

# Create wait_type column
airlines['wait_type'] = pd.cut(airlines["wait_min"], bins = label_ranges, 
                                labels = label_names)

# Create mappings and replace
mappings = {'Monday':'weekday', 'Tuesday':'weekday', 'Wednesday': 'weekday', 
            'Thursday': 'weekday', 'Friday': 'weekday', 
            'Saturday': 'weekend', 'Sunday': 'weekend'}

airlines['day_week'] = airlines['day'].replace(mappings)

'''

'\n\n# Create ranges for categories\nlabel_ranges = [0, 60, 180, np.inf]\nlabel_names = [\'short\', \'medium\', \'long\']\n\n# Create wait_type column\nairlines[\'wait_type\'] = pd.cut(airlines["wait_min"], bins = label_ranges, \n                                labels = label_names)\n\n# Create mappings and replace\nmappings = {\'Monday\':\'weekday\', \'Tuesday\':\'weekday\', \'Wednesday\': \'weekday\', \n            \'Thursday\': \'weekday\', \'Friday\': \'weekday\', \n            \'Saturday\': \'weekend\', \'Sunday\': \'weekend\'}\n\nairlines[\'day_week\'] = airlines[\'day\'].replace(mappings)\n\n'

#### 2.3 Cleaning Text Data

What is text data? 

    Text data is one of the most common types of data types. Examples of it range from names, phone numbers, addresses, emails and more.

    Common text data problems

        1. Data Inconsistency: +961717 or 009617
        2. Fixed length violations: ex. passwords atleast 8 characters 
        3. Typos 
       
#Replace "+" with "00"

    phones["Phone number"] = phones["Phone number"].str.replace("+", "00") 
    phones 

#Replace phone numbers with lower than 10 digits to NaN

    digits = phones["phone number"].str.len()
    phones.loc[digit < 10, "phone number"] = np.nan 
    phones 

Fixing the phone number column 

    #Find length of each row in phone number column 
    
        sanity_check = phone['Phone_number'].str.len()
   
    #Assert minmum phone number length is 10 
        assert sanity_check.min() >= 10
    
    #Assert all numbers do not have "+" or "-"
        assert phone["Phone_number"].str.contains("+|-").any() == False 
        
        any method - returns True if any element in the output of our dot-str-contains is True, and test whether the it returns False.
    
What about more complicated examples? (parenthesis, dashes in the middle) 

    Regular expressions in action 
    
        #Replace letters with notting
        
            phones["Phone number"] = phones["Phone number"].str.replace(r'\D+', "")

#### 2.3.1 Removing titles and taking names

While collecting survey respondent metadata in the airlines DataFrame, the full name of respondents was saved in the full_name column. However upon closer inspection, you found that a lot of the different names are prefixed by honorifics such as "Dr.", "Mr.", "Ms." and "Miss".

Your ultimate objective is to create two new columns named first_name and last_name, containing the first and last names of respondents respectively. Before doing so however, you need to remove honorifics.

In [23]:
'''

# Replace "Dr." with empty string ""
airlines['full_name'] = airlines['full_name'].str.replace("Dr.","")

# Replace "Mr." with empty string ""
airlines['full_name'] = airlines["full_name"].str.replace("Mr.", "")

# Replace "Miss" with empty string ""
airlines["full_name"] = airlines["full_name"].str.replace("Miss", "")

# Replace "Ms." with empty string ""
airlines["full_name"] = airlines["full_name"].str.replace("Ms.", "")


# Assert that full_name has no honorifics
assert airlines['full_name'].str.contains('Ms.|Mr.|Miss|Dr.').any() == False

'''

'\n\n# Replace "Dr." with empty string ""\nairlines[\'full_name\'] = airlines[\'full_name\'].str.replace("Dr.","")\n\n# Replace "Mr." with empty string ""\nairlines[\'full_name\'] = airlines["full_name"].str.replace("Mr.", "")\n\n# Replace "Miss" with empty string ""\nairlines["full_name"] = airlines["full_name"].str.replace("Miss", "")\n\n# Replace "Ms." with empty string ""\nairlines["full_name"] = airlines["full_name"].str.replace("Ms.", "")\n\n\n# Assert that full_name has no honorifics\nassert airlines[\'full_name\'].str.contains(\'Ms.|Mr.|Miss|Dr.\').any() == False\n\n'

#### 2.3.2 Keeping it descriptive


To further understand travelers' experiences in the San Francisco Airport, the quality assurance department sent out a qualitative questionnaire to all travelers who gave the airport the worst score on all possible categories. The objective behind this questionnaire is to identify common patterns in what travelers are saying about the airport.

Their response is stored in the survey_response column. Upon a closer look, you realized a few of the answers gave the shortest possible character amount without much substance. In this exercise, you will isolate the responses with a character count higher than 40 , and make sure your new DataFrame contains responses with 40 characters or more using an assert statement.

In [ ]:
'''

# Store length of each row in survey_response column
resp_length = airlines["survey_response"].str.len()

# Find rows in airlines where resp_length > 40
airlines_survey = airlines[resp_length > 40]

# Assert minimum survey_response length is > 40
assert airlines_survey['survey_response'].str.len().min() > 40

# Print new survey_response column
print(airlines_survey['survey_response'])

'''

These types of feedbacks are essential to improving any service. Coupled with some wordcount analysis, you can find common patterns across all survey responses in no time!

# 3. Advanced data problems

### 3.1 Uniformity 

Uniformity

    For example, we can have temperature data that has values in both Fahrenheit and Celsius, weight data in Kilograms and in stones, dates in multiple formats, and so on. Verifying unit uniformity is imperative to having accurate analysis.
    
    
An example 

    import matplotlib.pyplot as plt

    #Create scatterplot 
    
        plt.scatter(x = "Date", y = "Temperature", data = temperatures
        
    #Create title, xlabel and ylabel 
    
        plt.title('Temperature in Celsius March 2019 - NYC')
        plt.xlabel('Dates)
        plt.ylabel('Temperature in Celsius')
    
    #Show plot
        plt.show()
        
Treating temperature data

    temp_fah = temperatures.loc[temperatures['Temperature'] > 40, 'Temperature'] 
    temp_cels = (temp_fah - 32) *(5/9)
    temperatures.loc[temperatures["Temperature"] > 40, "Temperature"] = temp_cels 

    #Assert conversion is correct
    
        assert temperatures["Temperature"].max() < 40
        
Treating date data - different date format

    Datetime formatting
    
        datetime is useful for representing dates 
        pandas.to_datetime()
        
    Standardized
    
        #Will work! 
        
            birthdays["Birthday"] = pd.to_datetime(birthdays["Birthday"], infer_datetime_format = True, errors = "coerce"] 
            
            infer - Attempt to infer format of each data
            coerce - Return NA for rows where conversion failed 
        
        2. Convert 
        
        birthdays["Birthday"] = birthdays["Birthday"].dt.strftime("%d-%m-%Y")
        
Treatinng ambiguous date data

    Is 2019-03-08 in August or March?
    
        No clear cut way: 
            Convert to NA and treat accordingly 
            Infer format by understanding data source
            Infer format by understanding previous and subsequet data

ambiguous dates require a thorough understanding of where your data comes from. Diagnosing problems is the first step in finding the best solution!

#### 3.1.1 Uniform currencies 

The dataset contains data on the amount of money stored in accounts (acct_amount), their currency (acct_cur), amount invested (inv_amount), account opening date (account_opened), and last transaction date (last_transaction) that were consolidated from American and European branches.

You are tasked with understanding the average account size and how investments vary by the size of account, however in order to produce this analysis accurately, you first need to unify the currency amount into dollars.

In [2]:
'''
# Find values of acct_cur that are equal to 'euro'
acct_eu = banking['acct_cur'] == 'euro'

# Convert acct_amount where it is in euro to dollars
banking.loc[acct_eu, 'acct_amount'] = banking.loc[acct_eu, 'acct_amount'] * 1.1

# Unify acct_cur column by changing 'euro' values to 'dollar'
banking.loc[acct_eu, 'acct_cur'] = 'dollar'

# Assert that only dollar currency remains
assert banking['acct_cur'].unique() == 'dollar'

'''

"\n# Find values of acct_cur that are equal to 'euro'\nacct_eu = banking['acct_cur'] == 'euro'\n\n# Convert acct_amount where it is in euro to dollars\nbanking.loc[acct_eu, 'acct_amount'] = banking.loc[acct_eu, 'acct_amount'] * 1.1\n\n# Unify acct_cur column by changing 'euro' values to 'dollar'\nbanking.loc[acct_eu, 'acct_cur'] = 'dollar'\n\n# Assert that only dollar currency remains\nassert banking['acct_cur'].unique() == 'dollar'\n\n"

#### 3.1.2 Uniform dates

After having unified the currencies of your different account amounts, you want to add a temporal dimension to your analysis and see how customers have been investing their money given the size of their account over each year. The account_opened column represents when customers opened their accounts and is a good proxy for segmenting customer activity and investment over time.

However, since this data was consolidated from multiple sources, you need to make sure that all dates are of the same format. You will do so by converting this column into a datetime object, while making sure that the format is inferred and potentially incorrect formats are set to missing.

In [3]:
'''

# Print the header of account_opend
print(banking['account_opened'].head())

# Convert account_opened to datetime
banking['account_opened'] = pd.to_datetime(banking['account_opened'],
                                           # Infer datetime format
                                           infer_datetime_format = True,
                                           # Return missing value for error
                                           errors = 'coerce') 

# Get year of account opened
banking['acct_year'] = banking['account_opened'].dt.strftime('%Y')

# Print acct_year
print(banking["acct_year"])

'''

'\n\n# Print the header of account_opend\nprint(banking[\'account_opened\'].head())\n\n# Convert account_opened to datetime\nbanking[\'account_opened\'] = pd.to_datetime(banking[\'account_opened\'],\n                                           # Infer datetime format\n                                           infer_datetime_format = True,\n                                           # Return missing value for error\n                                           errors = \'coerce\') \n\n# Get year of account opened\nbanking[\'acct_year\'] = banking[\'account_opened\'].dt.strftime(\'%Y\')\n\n# Print acct_year\nprint(banking["acct_year"])\n\n'

## 3.2 Cross field validation 


Motivation 

    contains flight statistics on the total number of passengers in economy, business and first class as well as the total passengers for each flight. We know that these columns have been collected and merged from different data sources, and a common challenge when merging data from different sources is data integrity, or more broadly making sure that our data is correct.


Cross field validation

    The use of multiple fields in a dataset to santy check data integrity 

        sum_classes = flights[["economy_class", "business_class", "first_class"]].sum(axis=1)
        passenger_equ = sum_classes == flights["total_pasengers] 
    
    Find and filter rows with inconsistent passenger totals
        
        inconsistent_pass = flights[~passenger_equ]
        consistent_pass = flights[passenger_equ]
        
Example 2 

    another example containing user IDs, birthdays and age values for a set of users. We can for example make sure that the age and birthday columns are correct by subtracting the number of years between today's date and each birthday.

    import pandas as pd
    import datetime as dt
    
    #Convert to datetime and get today's date
    
        users["Birthday"] = pd.to_datetime(users["Birthday"])
        today = dt.date.today()
    
    #For each row in the Birthday column, calculate year difference
    
        age_manual = today.year - users["Birthday"].dt.year
        
    #Find instances where ages match
       
       age_equ = age_manual == users["Age"]


    # Find and filter rows with inconsistent inconsistent age 
        
        inconsistent_pass = flights[~age_equ]
        consistent_pass = flights[age_equ]
        
What to do when we catch inconsistencies

    Just like other data cleaning problems, there is no one size fits all solution, as often the best solution requires an in depth understanding of our dataset. 
    
    1. We can decide to either drop inconsistent data; 
    2. set it to missing and impute it; or 
    3. apply some rules due to domain knowledge.
    
    All these routes and assumptions can be decided upon only when you have a good understanding of where your dataset comes from and the different sources feeding into it.

### 3.2.1 Data Integrity

New data has been merged into the banking DataFrame that contains details on how investments in the inv_amount column are allocated across four different funds A, B, C and D.

Furthermore, the age and birthdays of customers are now stored in the age and birth_date columns respectively.

You want to understand how customers of different age groups invest. However, you want to first make sure the data you're analyzing is correct. You will do so by cross field checking values of inv_amount and age against the amount invested in different funds and customers' birthdays.

In [5]:
'''

# Store fund columns to sum against
fund_columns = banking[['fund_A', 'fund_B', 'fund_C', 'fund_D']]

# Find rows where fund_columns row sum == inv_amount
inv_equ = fund_columns.sum(axis=1) == banking['inv_amount']

# Store consistent and inconsistent data
consistent_inv = banking[inv_equ]
inconsistent_inv = banking[~inv_equ]

# Store consistent and inconsistent data
print("Number of inconsistent investments: ", inconsistent_inv.shape[0])

'''

'\n\n# Store fund columns to sum against\nfund_columns = banking[[\'fund_A\', \'fund_B\', \'fund_C\', \'fund_D\']]\n\n# Find rows where fund_columns row sum == inv_amount\ninv_equ = fund_columns.sum(axis=1) == banking[\'inv_amount\']\n\n# Store consistent and inconsistent data\nconsistent_inv = banking[inv_equ]\ninconsistent_inv = banking[~inv_equ]\n\n# Store consistent and inconsistent data\nprint("Number of inconsistent investments: ", inconsistent_inv.shape[0])\n\n'

In [6]:
'''

# Store today's date and find ages
today = dt.date.today()
ages_manual = today.year - banking["birth_date"].dt.year

# Find rows where age column == ages_manual
age_equ = ages_manual == banking["age"]

# Store consistent and inconsistent data
consistent_ages = banking[age_equ]
inconsistent_ages = banking[~age_equ]

# Store consistent and inconsistent data
print("Number of inconsistent ages: ", inconsistent_ages.shape[0])



'''

'\n\n# Store today\'s date and find ages\ntoday = dt.date.today()\nages_manual = today.year - banking["birth_date"].dt.year\n\n# Find rows where age column == ages_manual\nage_equ = ages_manual == banking["age"]\n\n# Store consistent and inconsistent data\nconsistent_ages = banking[age_equ]\ninconsistent_ages = banking[~age_equ]\n\n# Store consistent and inconsistent data\nprint("Number of inconsistent ages: ", inconsistent_ages.shape[0])\n\n\n\n'

## 3.3 Completeness


What is missing data?

    Missing data is one of the most common and most important data cleaning problems. Essentially, missing data is when no data value is stored for a variable in an observation. Missing data is most commonly represented as NA or NaN, but can take on arbitrary values like 0 or dot.

Airquality example

    #return missing values
    
        airquality.isna()
   
    #Get summary of missing ness
        
        airquality.isna().sum()

Missingno
    
    create useful visualizations of our missing data.
    
        import missingno as msno 
        import matplotlib.pyplot
    
    #Visualize missingness
        msno.matrix(airquality)
        plt.show()
        
    #Isolate missing and complete values aside
    
        missing = airquality[airquality["C02"].isna()]
        complete = airquality[~airquality["C02"].isna()]
        
    #Describe complete and missing dataframe
        complete.describe()
        missing.describe()
        
    #
    sorted_airquality = airquality.sort_values(by = "Temperature")
    msno,matrix(sorted_airquality)
    plt.show()
    
Missingness types  

    1. Missing Completely at Random (MCAR)
        
        No systematic relationship between missing data and other values
        Data entry errors when inputting data
    
    2. Missing at Random (MAR)
        
        Systematic relationship between missing data and observed values
        Missing ozone data for high temp 
        
    3. Missing not at random (MNAR)
    
        Systematic relationship between the missing data and unobserved values
        Missing temperature values for high temp 
    
    
How to deal with missing data?

Simple approaches

    1. Drop missing values
        
        airquality_dropped = airquality.dropna(subset = ["C02"]) 
        airquality_dropped.head()
     
    2. Impute with statistical measures (mean, median, mode)
    
        co2_mean = airquality['C02"].mean()
        airquality_imputed = airquality.fillna({"C02":co2_mean})
        airquality_imputed.head()

More complex

    1. Impute using an algorithmic approach
    2. Impute with machine learning models 
    
    
TRY!!! You have a dataframe containing customer satisfaction scores for a service. What ype of missing is the following? 
    
    A customer satisfaction_score column with missing values for highly dissatisfied 
    
    This is a clear example of missing not at random, where low values of satisfaction_score are missing because of inherently low satisfaction

#### 3.3.1 Missing investors 

You just received a new version of the banking DataFrame containing data on the amount held and invested for new and existing customers. However, there are rows with missing inv_amount values.

You know for a fact that most customers below 25 do not have investment accounts yet, and suspect it could be driving the missingness.

In [8]:
'''

# Print number of missing values in banking
print(banking.isna().sum())

# Visualize missingness matrix
msno.matrix(banking)
plt.show()

# Isolate missing and non missing values of inv_amount
missing_investors = banking[banking['inv_amount'].isna()]
investors = banking[~banking['inv_amount'].isna()]

# Sort banking by age and visualize
banking_sorted = banking.sort_values(by = "age")
msno.matrix(banking_sorted)
plt.show()


'''

'\n\n# Print number of missing values in banking\nprint(banking.isna().sum())\n\n# Visualize missingness matrix\nmsno.matrix(banking)\nplt.show()\n\n# Isolate missing and non missing values of inv_amount\nmissing_investors = banking[banking[\'inv_amount\'].isna()]\ninvestors = banking[~banking[\'inv_amount\'].isna()]\n\n# Sort banking by age and visualize\nbanking_sorted = banking.sort_values(by = "age")\nmsno.matrix(banking_sorted)\nplt.show()\n\n\n'

Great job! Notice how all the white spaces for inv_amount are on top? Indeed missing values are only due to young bank account holders not investing their money! Better set it to 0 with .fillna().

#### 3.3.2 Follow the money

In this exercise, you're working with another version of the banking DataFrame that contains missing values for both the cust_id column and the acct_amount column.

You want to produce analysis on how many unique customers the bank has, the average amount held by customers and more. You know that rows with missing cust_id don't really help you, and that on average acct_amount is usually 5 times the amount of inv_amount.

In [9]:
'''

# Drop missing values of cust_id
banking_fullid = banking.dropna(subset = ['cust_id'])

# Compute estimated acct_amount
acct_imp = banking_fullid["inv_amount"] * 5

# Impute missing acct_amount with corresponding acct_imp
banking_imputed = banking_fullid.fillna({'acct_amount':acct_imp})

# Print number of missing values
print(banking_imputed.isna().sum())

'''

'\n\n# Drop missing values of cust_id\nbanking_fullid = banking.dropna(subset = [\'cust_id\'])\n\n# Compute estimated acct_amount\nacct_imp = banking_fullid["inv_amount"] * 5\n\n# Impute missing acct_amount with corresponding acct_imp\nbanking_imputed = banking_fullid.fillna({\'acct_amount\':acct_imp})\n\n# Print number of missing values\nprint(banking_imputed.isna().sum())\n\n'

# 4. Record Linkages 

    Record linkage is a powerful technique used to merge multiple datasets together, used when values have typos or different spellings. In this chapter, you'll learn how to link records by calculating the similarity between strings—you’ll then use your new skills to join two restaurant review datasets into one clean master dataset.


Minimum edit distance
    
    systematic way to identify how close 2 strings are
    
    For example, let's take a look at the following two words: intention, and execution. The minimum edit distance between them is the least possible amount of steps, that could get us from the word intention to execution, with the available operations being inserting new characters, deleting them, substituting them, and transposing consecutive characters.

Example

    To get from intention to execution, We first start off by deleting I from intention, and adding C between E and N. Our minimum edit distance so far is 2, since these are two operations. Then we substitute the first N with E, T with X, and N with U, leading us to execution! With the minimum edit distance being 5.
    
    The lower the edit distance, the closer two words are. 
    
Minimum edit distance algorithms

    There's a variety of algorithms based on edit distance that differ on which operations they use, how much weight attributed to each operation, which type of strings they're suited for and more, with a variety of packages to get each similarity.
    
    For this lesson, we'll be comparing strings using Levenshtein distance since it's the most general form of string matching by using the thefuzz package.

Simple string comparison 

    thefuzz is a package to perform string comparison. We first import fuzz from thefuzz, which allow us to compare between single strings. 
    
        from thefuzz import fuzz
    
    Here we use fuzz's WRatio function to compute the similarity between reading and its typo, inputting each string as an argument. 
    
        fuzz.WRatio('Reeding', Reading') - 86
        
    For any comparison function using thefuzz, our output is a score from 0 to 100 with 0 being not similar at all, 100 being an exact match. Do not confuse this with the minimum edit distance score from earlier, where a lower minimum edit distance means a closer match.
    
Partial strings and different orderings   

    WRatio function is highly robust against partial string comparison with different orderings. For example here we compare the strings Houston Rockets and Rockets, and still receive a high similarity score. The same can be said for the strings Houston Rockets vs Los Angeles Lakers and Lakers vs Rockets, where the team names are only partial and they are differently ordered.
    
Comparison with arrays    

    #Import
    
        from thefuzz import process
    
    #Define string and array
    
        string = "Houston Rockets vs Los Angeles Lakers"
        choices = pd.Series(["Rockets vs Lakers", "Lakers vs Rockets", 
                              'Houston vs Los Angeles', 'Heat vs Bulls'])
                              
        process.extract(string, choices limit = 2)
        
     Extract takes in a string, an array of strings, and the number of possible matches to return ranked from highest to lowest. 
     
     It returns a list of tuples with 3 elements, the first one being the matching string being returned, the second one being its similarity score, and the third one being its index in the array.
     
Collapsing categories with string similarity

    collapsing data into categories is an essential aspect of working with categorical and text data, and we saw how to manually replace categories in a column of a DataFrame. But what if we had so many inconsistent categories that a manual replacement is simply not feasible? We can easily do that with string similarity!
    
    
Example

Say we have DataFrame named survey containing answers from respondents from the state of New York and California asking them how likely are you to move on a scale of 0 to 5. The state field was free text and contains hundreds of typos. Remapping them manually would take a huge amount of time. Instead, we'll use string similarity. We also have a category DataFrame containing the correct categories for each state. Let's collapse the incorrect categories with string matching!

    print(survey["state"].unique()) 

Collapsing all of the state

#For each correct category

We first create a for loop iterating over each correctly typed state in the categories DataFrame. 

    for state in categories['state']
    
    #Find potential matches in states with typoes
    
        matches = process.extract(state, survey["state'], limit = survey.shape[0])
    
        For each state, we find its matches in the state column of the survey DataFrame, returning all possible matches by setting the limit argument of extract to the length of the survey DataFrame. 

            #For each potential match 
            
            #we iterate over each potential match, isolating the ones only with a similarity score higher or equal than 80 with an if statement.
            
                for potential_match in matches: 
                
                #if high similarity score
                    if potential_match[1] >= 80: 
                    
                    #replace typo with correct category
                    #Then for each of those returned strings, we replace it with the correct state using the loc method.
                    
                        survey.loc[survey["state"] == potential_match[0], 'state'] = state

### 4.1 The cutoff point

In this exercise, and throughout this chapter, you'll be working with the restaurants DataFrame which has data on various restaurants. Your ultimate goal is to create a restaurant recommendation engine, but you need to first clean your data.

This version of restaurants has been collected from many sources, where the cuisine_type column is riddled with typos, and should contain only italian, american and asian cuisine types. There are so many unique categories that remapping them manually isn't scalable, and it's best to use string similarity instead.

Before doing so, you want to establish the cutoff point for the similarity score using the thefuzz's process.extract() function by finding the similarity score of the most distant typo of each category.

    The limit argument should take the length of the unique_types array.
    process.extract() takes in a string, an array to compare against, and the number of matches to return in the limit argument.

<script.py> output:
    [('asian', 100), ('asiane', 91), ('asiann', 91), ('asiian', 91), ('asiaan', 91), ('asianne', 83), ('asiat', 80), ('italiann', 72), ('italiano', 72), ('italianne', 72), ('italian', 67), ('amurican', 62), ('american', 62), ('italiaan', 62), ('italiian', 62), ('itallian', 62), ('americann', 57), ('americano', 57), ('ameerican', 57), ('aamerican', 57), ('ameriican', 57), ('amerrican', 57), ('ammericann', 54), ('ameerrican', 54), ('ammereican', 54), ('america', 50), ('merican', 50), ('murican', 50), ('italien', 50), ('americen', 46), ('americin', 46), ('amerycan', 46), ('itali', 40)]
    [('american', 100), ('americann', 94), ('americano', 94), ('ameerican', 94), ('aamerican', 94), ('ameriican', 94), ('amerrican', 94), ('america', 93), ('merican', 93), ('ammericann', 89), ('ameerrican', 89), ('ammereican', 89), ('amurican', 88), ('americen', 88), ('americin', 88), ('amerycan', 88), ('murican', 80), ('asian', 62), ('asiane', 57), ('asiann', 57), ('asiian', 57), ('asiaan', 57), ('italian', 53), ('asianne', 53), ('italiann', 50), ('italiano', 50), ('italiaan', 50), ('italiian', 50), ('itallian', 50), ('italianne', 47), ('asiat', 46), ('itali', 40), ('italien', 40)]
    [('italian', 100), ('italiann', 93), ('italiano', 93), ('italiaan', 93), ('italiian', 93), ('itallian', 93), ('italianne', 88), ('italien', 86), ('itali', 83), ('asian', 67), ('asiane', 62), ('asiann', 62), ('asiian', 62), ('asiaan', 62), ('asianne', 57), ('amurican', 53), ('american', 53), ('americann', 50), ('asiat', 50), ('americano', 50), ('ameerican', 50), ('aamerican', 50), ('ameriican', 50), ('amerrican', 50), ('ammericann', 47), ('ameerrican', 47), ('ammereican', 47), ('america', 43), ('merican', 43), ('murican', 43), ('americen', 40), ('americin', 40), ('amerycan', 40)]
    
    
    Take a look at the output, what do you think should be the similarity cutoff point when remapping categories?
    
    
    Correct! 80 is that sweet spot where you convert all incorrect typos without remapping incorrect categories. Often times though, you may need to combine the techniques learned in chapter 2, especially since there could be strings that make it beyond our cutoff point, but are not actually a match!

### 4.2 Remapping categories II

In the last exercise, you determined that the distance cutoff point for remapping typos of 'american', 'asian', and 'italian' cuisine types stored in the cuisine_type column should be 80.

In this exercise, you're going to put it all together by finding matches with similarity scores equal to or higher than 80 by using fuzywuzzy.process's extract() function, for each correct cuisine type, and replacing these matches with it. Remember, when comparing a string with an array of strings using process.extract(), the output is a list of tuples where each is formatted like:

(closest match, similarity score, index of match)

In [ ]:
'''
#Return all of the unique values in the cuisine_type column of restaurants.

    print(restaurants["cuisine_type"].unique())

# As a first step, create a list of all possible matches, 
# comparing 'italian' with the restaurant types listed in the cuisine_type column.

    matches = process.extract('italian', restaurants['cuisine_type'], limit = restaurants.shape[0])

    # Inspect the first 5 matches
    print(matches[0:5])
    





'''

The score is the second element of your match variable (remember that Python is zero-indexed).

You can use .loc[] combined with a condition to reassign the matches that are similar to 'italian' to 'italian' using the following syntax: df.loc[df['column'] == old_value] = new_value.

In [1]:
'''

# Create a list of matches, comparing 'italian' with the cuisine_type column
matches = process.extract('italian', restaurants['cuisine_type'], limit=len(restaurants.cuisine_type))

# Iterate through the list of matches to italian
for match in matches:
  # Check whether the similarity score is greater than or equal to 80
  if match[1] >= 80:
    # Select all rows where the cuisine_type is spelled this way, and set them to the correct cuisine
    restaurants.loc[restaurants['cuisine_type'] == match[0]] = 'italian'

'''

"\n\n# Create a list of matches, comparing 'italian' with the cuisine_type column\nmatches = process.extract('italian', restaurants['cuisine_type'], limit=len(restaurants.cuisine_type))\n\n# Iterate through the list of matches to italian\nfor match in matches:\n  # Check whether the similarity score is greater than or equal to 80\n  if match[1] >= 80:\n    # Select all rows where the cuisine_type is spelled this way, and set them to the correct cuisine\n    restaurants.loc[restaurants['cuisine_type'] == match[0]] = 'italian'\n\n"

In [2]:
'''

# Iterate through categories
for cuisine in categories:  

  # Create a list of matches, comparing cuisine with the cuisine_type column
  matches = process.extract(cuisine, restaurants['cuisine_type'], limit=len(restaurants.cuisine_type))

  # Iterate through the list of matches
  
  for match in matches:
  
     # Check whether the similarity score is greater than or equal to 80
     
    if match[1] >= 80:
    
     # If it is, select all rows where the cuisine_type is spelled this way, and set them to the correct cuisine
      restaurants.loc[restaurants['cuisine_type'] == match[0]] = cuisine
      
# Inspect the final result

print(restaurants['cuisine_type'].unique())



'''

"\n\n# Iterate through categories\nfor cuisine in categories:  \n\n  # Create a list of matches, comparing cuisine with the cuisine_type column\n  matches = process.extract(cuisine, restaurants['cuisine_type'], limit=len(restaurants.cuisine_type))\n\n  # Iterate through the list of matches\n  \n  for match in matches:\n  \n     # Check whether the similarity score is greater than or equal to 80\n     \n    if match[1] >= 80:\n    \n     # If it is, select all rows where the cuisine_type is spelled this way, and set them to the correct cuisine\n      restaurants.loc[restaurants['cuisine_type'] == match[0]] = cuisine\n      \n# Inspect the final result\n\nprint(restaurants['cuisine_type'].unique())\n\n\n\n"

### 4.3 Generating pairs

Motivation

    At the end of the last video exercise, we saw how record linkage attempts to join data sources with fuzzy duplicate values. For example here are two DataFrames containing NBA games and their schedules. They've both been scraped from different sites and we would want to merge them together and have one DataFrame containing all unique games.
    
When joins won't work

    We see that there are duplicates values in both DataFrames with different naming marked here in red, and non duplicate values, marked here in green. Since there are games happening at the same time, no common unique identifier between the DataFrames, and the events are differently named, a regular join or merge will not work. This is where record linkage comes in.

Record linkage

    act of linking data from different sources regarding the same entity. Generally, we clean two or more DataFrames, generate pairs of potentially matching records, score these pairs according to string similarity and other similarity metrics, and link them.
    
       1. Clean two dataset
       2. generate pairs
       3. Compare pairs
       4. Score pairs
       5. Link data 

Our DataFrames

    Ideally, we want to generate all possible pairs between our DataFrames. but what if we had big DataFrames and ended up having to generate millions if not billions of pairs? It wouldn't prove scalable and could seriously hamper development time.

    Generating pairs
    
    This is where we apply what we call blocking, which creates pairs based on a matching column, which is in this case, the state column, reducing the number of possible pairs.
    
        A. Blocking
        
            import recordlinkage
            
            indexer = recordlinkage.index()
            
            #Generate pairs blocked on state
            
                indexer.block("state")
                pairs = indexer.index(census_A, census_B)
                
                The resulting object, is a pandas multi index object containing pairs of row indices from both DataFrames, which is a fancy way to say it is an array containing possible pairs of indices that makes it much easier to subset DataFrames on.

Comparing the DataFrames

    We then use the recordlinkage dot Index function, to create an indexing object. This essentially is an object we can use to generate pairs from our DataFrames. To generate pairs blocked on state, we use the block method, inputting the state column as input. Once the indexer object has been initialized, we generate our pairs using the dot index method, which takes in the two dataframes.

    #Generate pairs blocked on state
            
         pairs = indexer.Index(census_A, census_B)
         
    Since we've already generated our pairs, it's time to find potential matches. We first start by creating a comparison object using the recordlinkage dot compare function. This is similar to the indexing object we created while generating pairs, but this one is responsible for assigning different comparison procedures for pairs. 
         
    #Create a Compare object 
    
        compare_cl = recordlinkage.Compare()
        
    #Find exact matches for pairs of date of birth and state
    
        compare_cl.exact("date of birth", "date of birth", label = "date of birth")
        compare_cl.exact("state", "state", label = "state")
        
    # Find similar matches for pairs of surname and address_1 ysing string similarity
    
    Now in order to compute string similarities between pairs of rows for columns that have fuzzy values, we use the dot string method, which also takes in the column names in question, the similarity cutoff point in the threshold argument, which takes in a value between 0 and 1, which we here set to 0.85. 
    
        compare_cl.string("surname", "surname", threshold = 0.85, label = "surname")
        compare_cl.string("address_1", "address_1", threshold = 0.85, label = "address_1")
    
    #Find matches 
    
        potential_matches = compare_cl.compute(pairs, census_A, census_B)
        print(potential_matches) 
    
   
    #Find only pairs we want 
    
        potential_matches[potential_matches.sum(axis = 1) >=2]
        
        To find potential matches, we just filter for rows where the sum of row values is higher than a certain threshold. Which in this case higher or equal to 2. But we'll dig deeper into these matches and see how to use them to link our census DataFrames in the next lesson.

Similar to joins, record linkage is the act of linking data from different sources regarding the same entity. But unlike joins, record linkage does not require exact matches between different pairs of data, and instead can find close matches using string similarity. This is why record linkage is effective when there are no common unique keys between the data sources you can rely upon when linking data sources such as a unique identifier.

#### 4.3.1 PRACTICE

In the last lesson, you cleaned the restaurants dataset to make it ready for building a restaurants recommendation engine. You have a new DataFrame named restaurants_new with new restaurants to train your model on, that's been scraped from a new data source.

You've already cleaned the cuisine_type and city columns using the techniques learned throughout the course. However you saw duplicates with typos in restaurants names that require record linkage instead of joins with restaurants.

In [3]:
'''

# Create an indexer and object and find possible pairs
indexer = recordlinkage.Index()

# Block pairing on cuisine_type
indexer.block('cuisine_type')

# Generate pairs
pairs = indexer.index(restaurants, restaurants_new)



'''

"\n\n# Create an indexer and object and find possible pairs\nindexer = recordlinkage.Index()\n\n# Block pairing on cuisine_type\nindexer.block('cuisine_type')\n\n# Generate pairs\npairs = indexer.index(restaurants, restaurants_new)\n\n\n\n"

#### Similar restaurants


In the last exercise, you generated pairs between restaurants and restaurants_new in an effort to cleanly merge both DataFrames using record linkage.

When performing record linkage, there are different types of matching you can perform between different columns of your DataFrames, including exact matches, string similarities, and more.

Now that your pairs have been generated and stored in pairs, you will find exact matches in the city and cuisine_type columns between each pair, and similar strings for each pair in the rest_name column.

In [4]:
'''
# Create a comparison object
comp_cl = recordlinkage.Compare()

# Find exact matches on city, cuisine_types - 
comp_cl.exact('city', 'city', label='city')
comp_cl.exact('cuisine_type', 'cuisine_type', label='cuisine_type')

# Find similar matches of rest_name
comp_cl.string('rest_name', 'rest_name', label='name', threshold = 0.8) 

# Get potential matches and print
potential_matches = comp_cl.compute(pairs, restaurants, restaurants_new)
print(potential_matches)


'''

"\n# Create a comparison object\ncomp_cl = recordlinkage.Compare()\n\n# Find exact matches on city, cuisine_types - \ncomp_cl.exact('city', 'city', label='city')\ncomp_cl.exact('cuisine_type', 'cuisine_type', label='cuisine_type')\n\n# Find similar matches of rest_name\ncomp_cl.string('rest_name', 'rest_name', label='name', threshold = 0.8) \n\n# Get potential matches and print\npotential_matches = comp_cl.compute(pairs, restaurants, restaurants_new)\nprint(potential_matches)\n\n\n"

Print out potential_matches, the columns are the columns being compared, with values being 1 for a match, and 0 for not a match for each pair of rows in your DataFrames. To find potential matches, you need to find rows with more than matching value in a column. You can find them with

    potential_matches[potential_matches.sum(axis = 1) >= n]
    
Where n is the minimum number of columns you want matching to ensure a proper duplicate find, what do you think should the value of n be?

    WRONG!!! n = 2 - If n is set to 2, then you will get duplicates for all restaurants with the same cuisine type in the same city.
    
    
    WRONG! n = 1 - What if you had restaurants with the same name in different cities?

### 4.4 Linking DataFrames

Probable matches

    The first step in linking DataFrames, is to isolate the potentially matching pairs to the ones we're pretty sure of. We saw how to do this in the previous lesson, by subsetting the rows where the row sum is above a certain number of columns, in this case 3. The output is row indices between census A and census B that are most likely duplicates.  
    
    next step is to extract the one of the index columns, and subsetting its associated DataFrame to filter for duplicates.
    
    Here we choose the second index column, which represents row indices of census B. We want to extract those indices, and subset census_B on them to remove duplicates with census_A before appending them together.
    
Get the indices

    We can access a DataFrame's index using the index attribute. Since this is a multi index DataFrame, it returns a multi index object containing pairs of row indices from census_A and census_B respectively. We want to extract all census_B indices, so we chain it with the get_level_values method, which takes in which column index we want to extract its values. We can either input the index column's name, or its order, which is in this case 1.
    
    
    #Find matches 
    
        potential_matches = compare_cl.compute(full_pairs, census_A, census_B)
    
   
    #Find only pairs we want 
    
        matches = potential_matches[potential_matches.sum(axis = 1) >=3]
    
    #Get indices 
    matches.index
    
    #Get indices from census_B only
    
        duplicate_rows = matches.index.get_level_values(1)
        print(census_B_index)
    
    #Finding duplicates in census B
    
        census_B_duplicates = census_B[census_B.index.isin(duplicate_rows)]
    
    #Finidng new rows 
    census_B_duplicates = census_B[~census_B.index.isin(duplicate_rows)]
    
    #Link dataframes
    
        full_census = census_A.append(census_B_new)

#### Linking them together!

In the last lesson, you've finished the bulk of the work on your effort to link restaurants and restaurants_new. You've generated the different pairs of potentially matching rows, searched for exact matches between the cuisine_type and city columns, but compared for similar strings in the rest_name column. You stored the DataFrame containing the scores in potential_matches.

Now it's finally time to link both DataFrames. You will do so by first extracting all row indices of restaurants_new that are matching across the columns mentioned above from potential_matches. Then you will subset restaurants_new on these indices, then append the non-duplicate values to restaurants


Instructions: 

    Isolate instances of potential_matches where the row sum is above or equal to 3 by using the .sum() method.

    Extract the second column index from matches, which represents row indices of matching record from restaurants_new by using the .get_level_values() method.

    Subset restaurants_new for rows that are not in matching_indices.

    Append non_dup to restaurants.

In [5]:
'''

# Isolate potential matches with row sum >=3
matches = potential_matches[potential_matches.sum(axis =1) >= 3]

# Get values of second column index of matches
matching_indices = matches.index.get_level_values(1)

# Subset restaurants_new based on non-duplicate values
non_dup = restaurants_new[~restaurants_new.index.isin(matching_indices)]

# Append non_dup to restaurants
full_restaurants = restaurants.append(non_dup)





'''

'\n\n# Isolate potential matches with row sum >=3\nmatches = potential_matches[potential_matches.sum(axis =1) >= 3]\n\n# Get values of second column index of matches\nmatching_indices = matches.index.get_level_values(1)\n\n# Subset restaurants_new based on non-duplicate values\nnon_dup = restaurants_new[~restaurants_new.index.isin(matching_indices)]\n\n# Append non_dup to restaurants\nfull_restaurants = restaurants.append(non_dup)\n\n\n\n\n\n'